.input{
    display:flex ;
    flex-direction: column;
    padding: 10px 20px;
}
.input-celsius{
    width: 500px;
    outline: none;
    border-radius: 8px;
    padding: 50px 10px;
}
.tombol{
    padding: 10px 80px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.t1{
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 7px 7px;
}
.t2{
    margin-right: 20px;
    margin-bottom: 10px;
    width: 60px;
    padding: 7px 7px;
}
.t3{
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 7px 7px;
}